<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyg.smt.mapper.AdminMapper">
    <select id="getUserMsg" resultType="com.zyg.smt.model.User">
        select * from user;
    </select>

    <select id="getAllUser" resultType="java.util.Map">
        select user.*,(SELECT count(*) from user) as count
        from user
    </select>
    <select id="getOneById" resultType="com.zyg.smt.model.User">
        select * from user where user.u_id=#{id};
    </select>
    <update id="editUser" parameterType="com.zyg.smt.model.User">
        update user set u_name=#{u_name},u_password=#{u_password},u_sex=#{u_sex},u_age=#{u_age},u_phone=#{u_phone},
                        u_qq=#{u_qq},u_pid=#{u_pid},u_mail=#{u_mail},u_bir=#{u_bir},
                        u_img=#{u_img}
                     where u_id=#{u_id}
    </update>
    <delete id="deleteUserById">
        delete from user where u_id=#{id}
    </delete>


    <select id="getuserByName" resultType="com.zyg.smt.model.User">
        select * from user where u_name = #{name}
    </select>
</mapper>