<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyg.smt.mapper.SouvenirMapper">
    <select id="getSouvenirMsg" resultType="com.zyg.smt.model.Souvenir">
        select * from souvenir
    </select>

    <select id="getAllSouvenir" resultType="java.util.Map">
        select souvenir.*,(SELECT count(*) from souvenir) as count
        from souvenir
    </select>
    <select id="getSouvenirMsgById" resultType="com.zyg.smt.model.Souvenir">
        select * from souvenir where s_id=#{id}
    </select>
    <update id="editSouvenir" parameterType="com.zyg.smt.model.Souvenir">
        update souvenir set s_uptime=#{s_uptime},s_name=#{s_name},s_price=#{s_price},s_note=#{s_note},
                        s_likes=#{s_likes},s_views=#{s_views},s_img=#{s_img} where s_id=#{s_id}
    </update>
    <delete id="deleteSouvenirById" >
        delete from souvenir where s_id=#{s_id};
    </delete>
    <insert id="addSouvenir" parameterType="com.zyg.smt.model.Souvenir">
        insert into souvenir (s_name, s_price, s_img, s_note, s_addTime, s_uptime, s_likes, s_views) VALUES (#{s_name}
        ,#{s_price},#{s_img},#{s_note},#{s_addTime},#{s_uptime},#{s_likes},#{s_views})
    </insert>
</mapper>